<!DOCTYPE html>
<html lang="en">


<!-- molla/index-10.html  22 Nov 2019 09:58:04 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FootSteps</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/user/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/user/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/user/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/user/assets/images/icons/site.html">
    <link rel="mask-icon" href="/user/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/user/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/user/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/user/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/user/assets/css/style.css">
    <link rel="stylesheet" href="/user/assets/css/skins/skin-demo-10.css">
    <link rel="stylesheet" href="/user/assets/css/demos/demo-10.css">

    <!-- toastify js -->

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">


    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/user/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/user/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/user/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/user/assets/images/icons/site.html">
    <link rel="mask-icon" href="/user/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/user/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/user/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">


    <!-- iziotoast mesage -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izitoast/dist/css/iziToast.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.1/jquery.elevatezoom.min.js"></script>

<style>
    ul.menu li:hover {
        background-color: rgba(239, 243, 243, 0.896);
       
   /* Change the color to your desired value */
}

</style>
<style>
    /* Responsive styles for header search */
.header-search-wrapper {
    position: relative;
    margin-top: 3rem;
    margin-right: 2rem;
}

.header-search-wrapper input[type="search"] {
    border-radius: 20px;
    padding-left: 35px;
}

.header-search-wrapper .search-toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

/* Responsive styles for suggestion list */
#suggestionList {
    position: absolute;
    border-radius: 10px;
    z-index: 3;
    background-color: #dee2e6;
    margin-top: -15px;
}

/* Responsive styles using media queries */
@media screen and (max-width: 767px) {
    .header-search-wrapper {
        margin-top: 1.5rem;
        margin-right: 0;
    }

    .header-search-wrapper input[type="search"] {
        width: 100%;
    }
}

/* Default styles for header search */
.header-search-wrapper input[type="search"] {
    border-radius: 20px;
    padding-left: 35px;
    font-size: 16px; /* Add a default font size */
    width: 200px; /* Add a default width */
}

/* Responsive styles for header search */
@media screen and (max-width: 767px) {
    .header-search-wrapper input[type="search"] {
        width: 150px; /* Decrease width for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .header-search-wrapper input[type="search"] {
        width: 100px; /* Further decrease width for smaller screens */
    }
}


</style>

<style>
    /* Default styles for header logo */
.header-left .logo img {
    border-radius: 1.4rem;
    width: 160px; /* Add a default width */
}

/* Responsive styles for header logo */
@media screen and (max-width: 767px) {
    .header-left .logo img {
        width: 120px; /* Decrease width for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .header-left .logo img {
        width: 80px; /* Further decrease width for smaller screens */
    }
}

</style>

<style>
 @media screen and (max-width: 480px) {
  .cart-count,
  .wishlist-count {
    font-size: 12px; /* Adjust the font size as needed */
  }

  .icon-shopping-cart,
  .icon-heart-o {
    font-size: 12px; /* Adjust the icon size as needed */
    margin-right: 5px; /* Add margin to separate the icon from the count */
  }
}



</style>

</head>



<body>
    <div class="page-wrapper">
        <header class="header header-8">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">



                    </div><!-- End .header-left -->


                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container" style="height: 50px;">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="" class="logo">
                            <img src="/user/assets/images/demos/demo-10/logo-main.png" alt="Molla Logo" width="160rem"
                                style="border-radius: 1.4rem;">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-right " >
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active ">
                                    <a href="#" class="d-none">Home</a>


                                </li>
                                <li>
                                    <a href="/">Home</a>


                                </li>

                                <li class="megamenu-container ">
                                    <a href="/productPage">Products</a>
                                </li>

                                <!-- products -->
                                <li>

                                    <!-- <a  class="sf-with-ul">Product</a> -->

                                    <!-- <div class="megamenu megamenu-sm"> -->


                                    <!-- <div class="menu-col"> -->

                                    <!-- <ul> -->
                                    <!-- <li><a href="#">Mens</a></li> -->
                                    <!-- <li><a href="#">Womens</a></li> -->

                                    <!-- </ul> -->
                                    <!-- </div>End .menu-col -->




                                    <!-- </div>End .megamenu megamenu-sm -->
                                </li>
                                <li>
                                    <!-- <a href="#" class="sf-with-ul">Pages</a>

                                    <ul>
                                        <li>
                                            <a href="#" class="sf-with-ul">About</a> -->

                                    <!-- <ul>
                                                <li><a href="#">About 01</a></li>
                                                <li><a href="#">About 02</a></li>
                                            </ul> -->
                                    <!-- </li>
                                        <li>
                                            <a href="#" class="sf-with-ul">Contact</a> -->

                                    <!-- <ul>
                                                <li><a href="#">Contact 01</a></li>
                                                <li><a href="#">Contact 02</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="faq.html">FAQs</a></li>
                                        <li><a href="404.html">Error 404</a></li>
                                        <li><a href="coming-soon.html">Coming Soon</a></li> -->
                                    <!-- </ul> -->
                                </li>
                                <!-- <li>
                                    <a href="#" >About Us</a>

                                    
                                </li>
                                <li>
                                    <a href="#" >Contact</a>

                                    <ul>
                                        <li><a href="#">Products</a></li>
                                        <li><a href="#">Typography</a></li>
                                       
                                    </ul>
                                </li> -->

                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->

                        <div>
                            <form action="#" method="post">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <div>
                                        <input type="search" class="form-control" id="searchInput" placeholder="Search in..." required autocomplete="off">
                                        <a href="#" class="search-toggle" role="button">
                                            <i class="icon-search"></i>
                                        </a>
                                    </div>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                            <ul id="suggestionList"></ul>
                        </div>
                        

                        <div>
                            <ul class="top-menu">
                                <li>
                                    <a href="#">Links</a>
                                    <ul>

                                        <!-- <li><a href="#">About Us</a></li>
                                        <li><a href="#">Contact Us</a></li> -->
                                        <% if (locals.loginStatus) { %>


                                            <!-- <div>
                                                <ul class="menu sf-arrows" style="margin-left: 1rem;">
                                                    <li style="height: 3rem; ">
                                                        <span class="sf-with-ul icon-user" style="margin-left: 3rem;">
                                                            <%= loginStatus.name %>
                                                        </span>
                                                        <ul style="height: auto;  width: 5rem;  background-color: #f5f5f5; ">
                                                            <li ><a href="/user-profile"><span style="font-weight: bold;">Profile</span></a></li>
                                                            <li><a href="" id="wallet-details" data-toggle="modal" data-target="#walletModal"><span style="font-weight: bold;">Wallet</span></a></li>
                                                            <li><a href="/user-logout"><span style="font-weight: bold;">Logout</span></a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                                
                                            </div> -->

                                            <div class="dropdown wrap-icon-header flex-w flex-r-m">
                                                <button class=" btn-light dropdown-toggle"
                                                    style="border-radius: 100px ;background-color: #787775; color: white; "
                                                    type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    <%= loginStatus.name %>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="height: 10rem; ;">
                                                    <a class="dropdown-item " href="/user-profile"><span style="font-weight: bold; font-size: larger;">Profile</span></a>
                                                    <a class="dropdown-item " id="wallet-details" data-toggle="modal" data-target="#walletModal"><span style=" cursor: pointer;  font-weight: bold; font-size: larger;">Wallet</span></a>
                                                    <a class="dropdown-item" href="/user-logout"><span style="font-weight: bold; font-size: larger;">Logout</span></a>
                                                </div>
                                            </div>


                                            <div class="modal fade" id="walletModal" tabindex="-1" role="dialog"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">

                                                        <div class=" text-center mt-5 mb-5">
                                                            <h2 style="text-decoration: underline; ;"
                                                                class="modal-title" id="exampleModalLabel">Wallet</h2>
                                                            <span style="font-size: 17px;" class="modal-title"
                                                                id="walletAmount">Your
                                                                Wallet Balance is: </span>
                                                        </div>
                                                        <div>
                                                            <button type="button"
                                                                class=" btn btn-secondary d-block ml-auto mr-3 mb-3"
                                                                data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- wallet Modal end -->
                                            <% } else { %>
                                                <li><a href="/login" style="margin-top: 8px; margin-left: 2rem;"><i
                                                            class="icon-user"></i>Login</a></li>
                                                <% } %>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        

                        <a href="/view-wishlist" class="wishlist-link">
                            <% if (locals.loginStatus) { %>
                                <i class="icon-heart-o"></i>
                                <% if (locals.wishListCount) { %>
                                    <span class="wishlist-count">
                                        <%= wishListCount %>
                                    </span>
                                    <% } %>

                                        <% } %>

                        </a>


                        <div class=" cart-dropdown">
                            <a href="/cart" class="dropdown-toggle" role="button" aria-haspopup="true"
                                aria-expanded="false" data-display="static">
                                <% if (locals.loginStatus) { %>
                                    <i class="icon-shopping-cart"></i>
                                    <% if (locals.cartCount) { %>
                                        <span class="cart-count">
                                            <%= cartCount %>
                                        </span>
                                        <% } %>
                                            <% } %>
                            </a>

                            <%# <div class="dropdown-menu dropdown-menu-right">

                                <div class="dropdown-cart-products">
                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="#">Beige knitted elastic runner shoes</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $84.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="#" class="product-image">
                                                <img src="/user/assets/images/products/cart/product-1.jpg"
                                                    alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i
                                                class="icon-close"></i></a>
                                    </div><!-- End .product -->

                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="#">Blue utility pinafore denim dress</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $76.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="#" class="product-image">
                                                <img src="/user/assets/images/products/cart/product-2.jpg"
                                                    alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i
                                                class="icon-close"></i></a>
                                    </div><!-- End .product -->
                                </div><!-- End .cart-product -->

                                <div class="dropdown-cart-total">
                                    <span>Total</span>

                                    <span class="cart-total-price">$160.00</span>
                                </div><!-- End .dropdown-cart-total -->

                                <div class="dropdown-cart-action" style="padding-left: 6rem;">
                                    <a href="/cart" class="btn btn-primary">View Cart</a>
                                    <!-- <a href="#" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a> -->
                                </div>
                                <!-- End .dropdown-cart-total -->
                        </div><!-- End .dropdown-menu -->
                        %>

                    </div><!-- End .cart-dropdown -->
                </div><!-- End .header-right -->

            </div><!-- End .container -->

    </div><!-- End .header-middle -->
    </header><!-- End .header -->



    <script>
        document.addEventListener('click', function (event) {
            const suggestionList = document.getElementById('suggestionList');
            const isClickInside = suggestionList.contains(event.target);

            if (!isClickInside) {
                suggestionList.innerHTML = ''; // Hide the suggestions by clearing the innerHTML
            }
        });

        let searchElement = document.getElementById('searchInput');
        searchElement.onkeyup = function () {
            let searchWord = searchElement.value;
            console.log("searchWord", searchWord);
            if (searchWord != '') {
                loadData(searchWord);
            } else {
                document.getElementById('suggestionList').innerHTML = ''
            }

        }

        function loadData(query = '') {
            fetch('/search-product', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ payload: query })
            })
                .then(res => res.json())
                .then((data) => {
                    console.log("res block start");
                    let searchResult = data.searchResult;
                    console.log("Hiii", searchResult);

                    let html = ''
                    console.log(data.searchResult.length);
                    if (data.searchResult.length > 0) {
                        for (let i = 0; i < data.searchResult.length; i++) {
                            console.log("in loop", data.searchResult[i].product_name);
                            html += `<a href="/productDisplay/${data.searchResult[i]._id}"><li style="  text-align: center; border-bottom: 2px solid #acb1b5; width:15rem ;padding:10px"> ${data.searchResult[i].product_name} <img  class="img-thumbnail" width="50" src="/uploads/product-images/${data.searchResult[i].image[0]}" alt="no image avalable"></li></a>`;
                            document.getElementById('suggestionList').innerHTML = html

                        }
                    }
                    console.log("end");
                })
        }



        $('#wallet-details').on('click',function(e){
            e.preventDefault()

            $.ajax({
                url : '/wallet',
                method : 'get'
            })
            .then ((res) =>{
                console.log(res);
                document.getElementById('walletAmount').innerHTML = "Your Wallet Balance is:" + res.walletDetails

                $('#walletModal').modal("show")
            })
        })

    </script>